div.smallImages {
    white-space: nowrap;
}

div.container {
    position: relative;
}

div.largeImage {
    position: absolute;
}

div.infoPane {
    position: absolute;   
    width: 300px;
    height: 70px;
    background-color: #FFFFFF;
    text-align: center;
    white-space: pre-line;
}
