div.smallImages {
    white-space: nowrap;
}

div.container {
    position: relative;
}

div.largeImage {
    position: absolute;
    display:inline-block;
}

div.infoPane {
    position: absolute;  
    display:inline-block;
    width: 350px;
    height: 60px;
    background-color: #FFFFFF;
    text-align: center;
    white-space: pre-line;
}
