div.smallImages {
    white-space: nowrap;
}

div.container {
    position: relative;
}

div.largeImage {
    position: absolute;
    left: 400px;
    top: 10px;
}

div.infoPane {
    position: absolute; 
    left: 420px;
    top: 60px;
    width: 350px;
    height: 60px;
    background-color: #FFFFFF;
    text-align: center;
    white-space: pre-line;
}
